@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 
  
  
}

   


.header-title{
    display: flex;
    justify-content: space-around;
    
    
    align-items: center;
    height: 100px;
    
}
.first, .two ,.three {
border-bottom: dashed 1px slategray;
background-image: url(assets/bg.png);
padding: 0px;
margin: 0;

}


.logo{
    display: flex;
}
.navbar{
  display: flex;
  gap: 30px;

   list-style: none;
    
    }
    a{
        text-decoration: none;
    }
    .container1{
        display: flex;
        gap: 30px;
       justify-content: center;
       align-items: center;
       margin-left: 80px;
       margin-right: 80px;
    }
    .container1-desc{
        
        padding:20px 10px;
    }
    .ami{
        color: rgb(203, 100, 26);
    }
    .tumi{
        color:rgb(20, 173, 234);
    }
    .container1-title{
        font-size: 35px;
        font-weight: 500px;

    }
    .header-title{
        margin-top: 40px;
    }
    .nav1{
        color: rgb(243, 124, 39);
    }
    .nav2{
        color: rgb(26, 160, 213);
    }
    .nav3{
        color: rgb(26, 241, 44);

    }
    .nav4{
        color: rgb(62, 62, 215);
    }
    .contact{
        width: 170px;
        height: 40px;
        font-size: 20px;
        font-weight: 600px;
        color: aliceblue;
        border-radius: 10px;
        background-color: chocolate;
        border: none;

    }
    .enroll{
        width: 170px;
        height: 40px;
        font-size: 20px;
        font-weight: 600px;
        color: aliceblue;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        border: none;
    }
    .all-small-font{
        font-size: 18px;
        font-weight: 300px;
        color: black;
    }
    .twoheader{
        text-align: center;
    }
.secthree-title{
   text-align: center;
}
.sectwo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 150px;
    gap: 27px;
    
    
}
.sectwo-content1{
    text-align: center;
    height: 350px;
    width: 300px;
    padding: 50px 30px;
    
    border-radius: 20px;
    
    
    background: linear-gradient(to bottom,rgb(212, 239, 250), hsl(0, 0%, 100%));
}
.sectwo-content2{
    text-align: center;
    
    height: 350px;
    width: 300px;
    padding: 50px 30px;
 
    border-radius: 20px;
    background: linear-gradient(to bottom,rgb(247, 224, 206),rgb(255, 255, 255));
}


    .sectwo-content3{
        text-align: center;
        
        height: 350px;
        width: 300px;
        padding: 50px 30px;
      background: linear-gradient(to bottom,rgb(243, 199, 243),rgb(251, 249, 249));
        border-radius: 20px;
        
    }

.sectwo-title{
    font-size: 22px;
    font-weight: 700px;

    
}
.but{
    border: none;
    color: rgb(14, 239, 130);
    background-color: rgb(255, 247, 247);
    font-size: 16px;
    font-weight: 700;
}

.twobutton{
    text-align: center;
    border: none;
    
    
}
.symbol{
   height: 60px;
   width: 60px;
   font-size: xx-large;
   border-radius: 50%;
   background-color: rgb(239, 149, 84);
   border: none;
   color: aliceblue;
   margin-inline: 10px;
   margin-bottom: 20px;}
    
.symbol:hover{
    
    color: blue;
    background-color: aliceblue;
}
  
  .three{
    margin-top: 80px;
   margin-bottom: 80px;
    
   
    
}
.secthree-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 140px;
    margin-right: 140px;
    gap: 30px;
    
    
   
}
.three-content{
    height: 600px;
    width: 540px;
}

.gridlayout{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   
   height: 600px;
    width: 540px;
    
 }
.roww{
    background-color: white;
    border-radius: 13px;
    text-align: left;
    
    }
.three-content-title{
    font-size: 25px;
    font-weight: 700;

}
.three{
    margin: 0%;
    background: linear-gradient(to bottom,rgb(255, 255, 255),rgb(235, 192, 161));
}
.writte{
    font-size: 10px;
    font-weight: 700;
    color: rgb(67, 66, 66);
    padding:0px 80px 20px 40px ;
    
}
.writtes{
    font-size: 10px;
    font-weight: 700;
    color: rgb(125, 125, 125);

}

.row{
    background-color:white;
  border-radius: 13px;
  text-align: left;
  font-size:12 px;
  font-weight: 700;
  
   }

.r{
    border-radius: 13px;
     }
  .three-writting{
    padding: 20px 45px 50px 25px;
    
  }
.View{
    text-align: center;
    margin: 90px 42%;
    height: 50px;
    width: 200px;
    border-radius: 14px;
    background-color: black;
    color: aliceblue;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
  font-weight: 700;
  width: 170px;
  height: 45px;
  background-color: aqua;
  border-radius: 20px;
 
 
}
.foter-container{
    display: flex;
    justify-content: space-evenly;
    margin: 90px 30px;
   
}
.foter-title-img{
    display: flex;
}
.foter-des{
    width: 399px;
    height: 100px;
    
}
.foter-logo{
   width: 80px;
   height: 80px;
   margin:15px 10px 20px 2px;
}
.foter-title{
    color: aliceblue;
}
.foter-des{
    font-size: 15px;
    color: rgb(242, 239, 239);
    font-weight: 400;
}
.icon-image{
    display: flex;
    gap: 10px;
}
.fotter-section{
    margin:0;
    padding:0;
    background-color: rgb(1, 172, 253);
    height: 100%;
    
    
   
}
.list-style{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500px;
   
    
}

   
a{
    color: aliceblue;
}

.mobile-logo{
    display: none;
}
  

@media  screen and (max-width: 576px) {


    .navbar {
        display: none;
    }
    .contact{
        display: none;
    }
    .three-content{
        display: none;
    }
    .mobile-logo{
    display: inline;}

    
    .first, .two ,.three {
            border: none;
            
        }

        .container1{
            flex-direction: column-reverse;
            width: 400px;
            height: auto;
        }
        .sectwo-container{
            flex-direction: column;
        }
        .secthree-container{
            flex-direction: column;
            margin left:15px ;
            margin-right: 15px;
        }
        .foter-container{

        flex-direction: column;
        }
        .gridlayout{
            
            height:246;
            width: 221px;
            margin-left: 0;
            justify-content: center;
        }
        .header-title{
            border-bottom: 2px solid chocolate;
        }
        
        .row{
            background-color:white;
          border-radius: 13px;
          text-align: left;
          font-size:12 px;
          font-weight: 700;
        }
        .r{
            width: 200px;
            height: 150px;
        }
        .View{
            margin: 30%;
        }
     
       .foter-container,{
        text-align: left;
       } 
     .icon-image{
        margin-bottom: 30px;
     }

   
    
}
    

