@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
  
  
}

.header-title{
    display: flex;
    justify-content: space-around;
    
    
    align-items: center;
    height: 100px;
    
}
.first, .two  {
border-bottom: dashed 1px slategray;
background-image: url(assets/bg.png);
padding: 60px;
margin: 0;

}


.logo{
    display: flex;
}
.navbar{
  display: flex;
  gap: 30px;

   list-style: none;
    
    }
    .container1{
        display: flex;
        gap: 30px;
       justify-content: center;
       align-items: center;
       margin-left: 80px;
       margin-right: 80px;
    }
    .container1-desc{
        
        padding:20px 10px;
    }
    .ami{
        color: rgb(203, 100, 26);
    }
    .tumi{
        color:rgb(20, 173, 234);
    }
    .container1-title{
        font-size: 35px;
        font-weight: 500px;

    }
    .header-title{
        margin-top: 40px;
    }
    .nav1{
        color: rgb(243, 124, 39);
    }
    .nav2{
        color: rgb(26, 160, 213);
    }
    .nav3{
        color: rgb(26, 241, 44);

    }
    .nav4{
        color: rgb(62, 62, 215);
    }
    .contact{
        width: 170px;
        height: 40px;
        font-size: 20px;
        font-weight: 600px;
        color: aliceblue;
        border-radius: 10px;
        background-color: chocolate;
        border: none;

    }
    .enroll{
        width: 170px;
        height: 40px;
        font-size: 20px;
        font-weight: 600px;
        color: aliceblue;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        border: none;
    }
    .all-small-font{
        font-size: 18px;
        font-weight: 300px;
        color: black;
    }
.secthree-title{
   text-align: center;
}
.sectwo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 150px;
    gap: 27px;
    
    
}
.sectwo-content1{
    text-align: center;
    height: 350px;
    width: 300px;
    padding: 50px 30px;
    
    border-radius: 20px;
    
    
    background: linear-gradient(to bottom,rgb(212, 239, 250), hsl(0, 0%, 100%));
}
.sectwo-content2{
    text-align: center;
    
    height: 350px;
    width: 300px;
    padding: 50px 30px;
 
    border-radius: 20px;
    background: linear-gradient(to bottom,rgb(247, 224, 206),rgb(255, 255, 255));
}


    .sectwo-content3{
        text-align: center;
        
        height: 350px;
        width: 300px;
        padding: 50px 30px;
      background: linear-gradient(to bottom,rgb(243, 199, 243),rgb(251, 249, 249));
        border-radius: 20px;
        
    }

.sectwo-title{
    font-size: 22px;
    font-weight: 700px;

    
}
.twobutton{
    text-align: center;
    border: none;
    
    
}
.symbol{
   height: 60px;
   width: 60px;
   font-size: xx-large;
   border-radius: 50%;
   background-color: rgb(239, 149, 84);
   border: none;
   color: aliceblue;
   margin-inline: 10px;
    

  }
  .three{
    margin-top: 80px;
   margin-bottom: 80px;
    
   
    
}
.secthree-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 140px;
    margin-right: 140px;
    

   
}
.three-content{
    height: 600px;
    width: 540px;
}

.gridlayout{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   
   height: 600px;
    width: 540px;
    
 }
.roww{
    background-color: aliceblue;
    border-radius: 13px;
    text-align: left;
    
    }
.three-content-title{
    font-size: 25px;
    font-weight: 700;

}
.writte{
    font-size: 10px;
    font-weight: 700;
    color: rgb(67, 66, 66);
    padding:0px 80px 20px 40px ;
    
}
.writtes{
    font-size: 10px;
    font-weight: 700;
    color: rgb(125, 125, 125);

}

.row{
    background-color: aliceblue;
  border-radius: 13px;
  text-align: left;
  font-size:12 px;
  font-weight: 700;
  
  
  }
.r{
    border-radius: 13px;
     }
  .three-writting{
    padding: 20px 45px 50px 25px;
    
  }
.View{
    text-align: center;
    margin: 30px 42%;
    height: 50px;
    width: 200px;
    border-radius: 14px;
    background-color: black;
    color: aliceblue;
}
.date{
    font-size:12 px;
  font-weight: 700;
}
@media  screen and (max-width: 576px) {
    .navbar {
        display: none;
    }
    .contact{
        display: none;
    }
    .container1{
        display: grid;
       grid-template-columns: repeat(1,1fr);

    }




    .container1-desc{

    }



}
     
    
    
   
    

